.news-section{
    height:46.4rem;
    display: flex;
    align-items: center;
}
.news-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* padding-top: 2rem; */
    /* padding-bottom: 2rem; */
    height: 68%;
    width:100%;
}
.news-title{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
}
.news-list{
    display: flex;
    justify-content: space-between;
    width: 85%;
    height: 50%;
}
.new-container{
    width: 22%;
    height: 100%;
    position: relative;
    border-right: solid 1px #B3B3B3;
    border-bottom: solid 1px #B3B3B3;
    border-radius: 1rem;
    border-left: solid 1px #B3B3B3;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    
}
.new-img{
    
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    width: 100.5%;
    height: 50%;
    object-fit:cover;
    position: relative;
    left: -1px;
}

.new-title{
    font-family: 'Noto Sans';
    font-weight: 700;
    line-height: 1.5rem;
    font-size:1rem;
    
    
}
.new-text{
    font-family: 'Noto Sans';
    font-weight: 400;
    line-height: 1.2rem;
    font-size:0.875rem

}
.new-description-container{
    width: 80%;
    margin-left: 10%;
    
}

.news-button{
    width: 15%;
    height: 3rem;
    padding: 0.5rem;
    background-color: #05488C;
    border-radius: 1.5rem ;
    border: none;
    font-size: 1rem;
    font-family: 'Raleway';
    font-weight: 700;
    color:white
}

.news-button:hover{
    color:black;
    cursor:pointer
}
.new-overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(0, 0, 0, 0.2);;
  
    overflow: hidden;
    width: 100%;
    height: 0%;
    /* transition: .5s ease; */
    
}
.new-container:hover .new-overlay {
    height: 50%;
    cursor:pointer;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }


.new-overlay-text{
    color: white;
    font-size: 1.25rem;
    font-family: 'Raleway';
    font-weight: 700;
    position: relative;
    top: 45%;
    text-align: center;
    border:solid 1px white;
    border-radius: 0.5rem;
    width: 30%;
    margin-left: 35%;

}