.contact-container{
    width: 100%;
    background-color: #F5F5F5;
    height:100%;
    font-family: 'Noto Sans';
    font-weight: 700;
    color: #464647;
}

.contact-form-container{
    width: 65%;
    margin-left: 17.5%;
}
.form-items{
    
}
.form-item{
    display: flex;
    flex-direction: column;
    height: 6rem;
    justify-content: space-around;
    margin-bottom: 2rem;
}
.form-item input{
    box-sizing: border-box;
    padding: 1.5rem;
    border: none;
    border: solid 1px #B3B3B3;
    border-radius: 1rem;
}
.form-item:last-child input{
    height: 10rem;
}
.form-item label{
    margin-left: 1.5rem;
    margin-bottom: 1rem;
}
.contact-submit{
    width: 8rem;
    padding: 1rem;
    background-color: #5AA1E2;
    border: none;
    border-radius: 1rem;
    color:white
}
@media (max-width:720px) {
    .contact-form-container{
        width: 90%;
        margin-left: 5%;
    }
}