.home-container{
    position: absolute;
    top:0px;
    height:100vh;
    width: 100%;
    background-image: url('../../public/images/IMG2.jpg');
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
}

.mouse-icon{
    position: absolute;
    width: 2%;
    left: 48%;
    bottom: 10vh;
    color:white;
    font-size: 3rem;
    
}