#home-container{
    position: absolute;
    top:0px;
    height:100vh;
    width: 100%;
    /* background-image: url('../../public/images/IMG2.jpg'); */
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    display: block;
    /* overflow: scroll; */
    overflow-x: hidden;
}
.home-container::-webkit-scrollbar {     
	width: 0rem;
    z-index: 3;
}
.home-container::-webkit-scrollbar-thumb {
	background: #e7c793;
	border-radius: 0.3125rem;
    z-index: 3;
}
.mouse-icon{
    position: absolute;
    width: 2%;
    left: 48%;
    bottom: 10vh;
    color:white;
    font-size: 3rem;

}


.mySlides{
    height:100vh;
    width: 100%;
    /* -webkit-animation: fadeinout 10s linear forwards; */
    animation: fadeinout 10s linear forwards;
    object-fit: cover;
}

@keyframes fadeinout {
    0% {opacity: 0.1;}
    10% {opacity: 1;}
    90% {opacity: 1;}
    100% {opacity: 0.1;}

}

.post-list{
    display: flex;
    width: 85%;
    height: 28rem;
    justify-content: space-between;
    align-items: center;
    background-color: #F5F5F5;
    padding-left:7.5% ;
    padding-right:7.5% ;
    
}