.institutional-pic{
    position: sticky;
    top:0px;
    /* height:100vh; */
    width: 100%;
    z-index: 0;
    
}

.heading-pic{
    /* height:31rem; */
    width: 100%;
    object-fit: cover;
    aspect-ratio: 3.36
    ;
}
@media (max-width:720px) {
    .institutional-pic{
        height: 30vh;
    }
    .heading-pic{
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
  }