.noticia-content{
    width: 65%;
    margin-left: 17.5%;
}
.noticia-title{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 2.25rem;
    color:#5C5C5C;
    margin-top: 6rem;
}
.noticia-sep-line{
    margin-top: 1rem;
    /* margin-bottom: 2rem; */
    width:5.7rem;
    height: 0px;
    border:2px solid #5C5C5C;
    background-color: #5C5C5C;
}
.noticia-head-image{
    width: 100%;
    object-fit: contain;
}
.noticia-date{
    color:#5C5C5C
}
.noticia-body{
    color:#5C5C5C;
}
.noticia-body a{
    text-decoration: none;
    font-family: 'Noto-Sans';
}