.noticias-list{
    width: 65%;
    height: 100%;
    margin-left: 17.5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.noticia-item-container{
    width: 31%;
    height: 20rem ;
    position: relative;
    border-right: solid 1px #B3B3B3;
    border-bottom: solid 1px #B3B3B3;
    border-radius: 1rem;
    border-left: solid 1px #B3B3B3;
    margin-bottom: 3rem;   
}
.noticia-item-container:hover{
    background-color:  #E9F8FF;
}
.noticia-item-container:hover .new-overlay {
    height: 50%;
    cursor:pointer;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }
.mas-noticias-btn{
    margin-left:42.5% ;
    width: 15%;
    height: 3rem;
    padding: 0.5rem;
    background-color: #5AA1E2;
    border-radius: 1.5rem ;
    border: none;
    font-size: 1rem;
    font-family: 'Raleway';
    font-weight: 700;
    color:white
}

.mas-noticias-btn:hover{
    color:#05488C;
    cursor:pointer;
    background-color: #F5F5F5;
}
@keyframes rotate {from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}}
@-webkit-keyframes rotate {from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}}
.loading-span{
    -webkit-animation: 4s rotate linear infinite;
    animation: 4s rotate linear infinite;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    font-size: 5rem;
    color: #B3B3B3;
    margin: 2rem;
}
#imgr2 {
     -webkit-animation-direction: reverse;
     animation-direction: reverse;
}
.loading-container{
    /* width: 4%; */
    margin-left: 48%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}