.auth-list-container{
    width: 100%;
    height: 100%;
    /* padding-left: 4rem; */
}
.authority-countries{
    
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-around;
}
.authority-country{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Raleway';
    font-weight: 300;
    font-size: 1.5rem;
    width: 50%;
    /* color:#36A9E1; */
}
.auth-position{
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 2.25rem;
    color:#5C5C5C;
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.country-name{
    font-family: 'Noto Sans';
    font-weight: 300;
    font-size: 1.2rem;
    color:#5C5C5C
}
.authority-item{
    margin-top: 1rem;
    width: 100%;
    height: 25%;
    border-bottom:#5C5C5C solid 1px ;
    /* border: solid 1px red */
}
.delegado{
    color:black
}