.auth-list-container{
    width: 100%;
    height: 100%;
    /* padding-left: 4rem; */
}
.authority-countries{
    
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-around;
}
.authority-country{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Raleway';
    font-weight: 300;
    font-size: 1.5rem;
    width: 50%;
    margin-top: 4rem;
    margin-bottom: 2rem;
    /* color:#36A9E1; */
}
.auth-position{
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 2.25rem;
    color:#5C5C5C;
    width: 100%;
    display: flex;
    justify-content: center;
    
    /* margin-bottom: 0.5rem; */
}
.country-name{
    font-family: 'Noto Sans';
    font-weight: 300;
    font-size: 1.2rem;
    color:#5C5C5C
}
.authority-item{
    margin-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
    height: 25%;
    border-bottom:#5C5C5C solid 1px ;
}
.authority-item:last-child{
    border-bottom:none

}
.authority-item:first-child{
    margin-top: 0rem;
}
.delegado{
    color:black
}
.country-person{
    text-align: center;
}