.authorities-container{
    width: 100%;
    /* height: 100vh; */
    background-color: #FFFFFF;
    /* z-index: 10; */
    position: relative;
    /* border:solid 1px red; */
    padding-top: 1rem;
}

.authorities-title{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 4rem;
    color:#5C5C5C;
    /* margin-top: 3.8rem; */
    padding-left: 10%;
    
}

.separator-auth-line{
    margin-top: 1rem;
    margin-bottom: 1rem;
    width:9.25rem;
    height: 0px;
    border:5px solid #5C5C5C;
    background-color: #5C5C5C;
    margin-left: 10%;
    
}

.lists-auth-container{
    display: flex;
    justify-content: space-between;
    margin-left: 15%;
    
    width: 70%;
    margin-bottom: 3rem;
    
}