.authorities-container{
    width: 100%;
    
    background-color: #FFFFFF;
    position: relative;
    padding-top: 1rem;
}

.authorities-title{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 2.25rem;
    color:#5C5C5C;
    margin-top: 2rem;

    margin-left: 17.5%;
    
}

.separator-auth-line{
    margin-left: 17.5%;
    margin-top: 1rem;
    margin-bottom: 2rem;
    width:9.25rem;
    height: 0px;
    border:2px solid #5C5C5C;
    background-color: #5C5C5C;
    
    
}

.lists-auth-container{
    display: flex;
    justify-content: space-between;
    margin-left: 17.5%;
    
    width: 65%;
    margin-bottom: 3rem;
    
}