    .comip-info-container{
    /* top: 20rem; */
    width: 100%;
    /* height: 100vh; */
    background-color: #FFFFFF;
    
    position: relative;
    /* border:solid 1px red; */
    /* padding-top: 5rem; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
}
    .comip-info-text{
    /* padding-top: 1rem; */
    transition: height 1s;
    width: 60%;
    margin-left: 20%;
    font-family: 'Noto Sans';
    height: 95rem;
    /* white-space:nowrap; */
}

.info-hidden{
    /* transition: width 2s; */
    height: 21rem;
    overflow:hidden;
    text-overflow: ellipsis;
}
.info-vermas{
    position: absolute;
    /* right:0px; */
    bottom: 27rem;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 1.5rem;
}
.info-vermenos{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 1.5rem;
    
}