    .comip-info-container{
    width: 100%;
    background-color: #FFFFFF;
    position: relative;
    display: flex;
    flex-direction: column;
}
    .comip-info-text{
    transition: height 1s;
    width: 65%;
    margin-left: 17.5%;
    font-family: 'Noto Sans';
    height: 70rem;
}

.info-hidden{
    height: 10rem;
    overflow:hidden;
    text-overflow: ellipsis;
}
.info-vermas{
    margin-left: 17.5%;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 1.5rem;
    height: 5rem;
}
.info-vermenos{
    margin-left: 17.5%;
    height: 5rem;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 1.5rem;
    
}
.convenios-img{
    width: 100%;
    /* margin-bottom: 6rem; */
}