.comip-info-container{
    /* top: 20rem; */
    width: 100%;
    /* height: 100vh; */
    background-color: #FFFFFF;
    
    position: relative;
    /* border:solid 1px red; */
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
}
.comip-info-text{
    width: 50%;
    padding-left: 10%;
    font-family: 'Noto Sans';
}