.convenios-container{
    width: 65%;
    margin-left: 17.5%;
}
.convenio-container{
    width: 100%;
    border: solid 1px #5C5C5C;
    font-family: 'Raleway';
    font-weight: 700;
    display: flex;
    padding: 1rem;
    align-items: center;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
}
.convenio-container a{
    color:#5C5C5C;
    text-decoration: none;
}
.convenio-container:hover{
    /* transition: background-color 0.25s; */
    background-color: #05488C;
    
}
.convenio-container:hover a{
    /* transition: color 0.25s; */
    color:white;
    text-decoration: none;
}