.convenios-container{
    width: 65%;
    margin-left: 17.5%;
}
.convenio-title{
    width: 100%;
    border: solid 1px #5C5C5C;
    color: #5C5C5C;
    font-family: 'Raleway';
    font-weight: 700;
    display: flex;
    padding: 1.5rem;

    align-items: center;
    /* margin-bottom: 1rem; */
    border-radius: 0.5rem;
}

.convenio-title:hover{
    color: #05488C;
    background-color:white;
}
.convenio-title-active{
    background-color: #5AA1E2;
    color:white;
    width: 100%;
    border: solid 1px transparent;
    font-family: 'Raleway';
    font-weight: 700;
    display: flex;
    padding: 1.5rem;
    align-items: center;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
}
.convenio-description{
    height: 0rem;
    visibility:hidden;
    transition: height 0.5s;
}
.convenio-description-show{
    display: block;
    width: 100%;
    padding: 1.5rem;
    font-family: 'Noto Sans';
    color:#5C5C5C;
    transition: height 0.5s;
    height: 3rem;
}
.convenio-download-btn{
    background-color: #05488C;
    font-family: 'Noto Sans';
    font-size: 0.8rem;
    color:white;
    border-radius: 1rem;
    padding: 0.6rem;
    text-decoration: none;
    margin-bottom: 1.5rem;
}
.conv-btn-container{
    display: flex;
    align-items: center;
    /* margin-bottom: 1rem; */
    margin-left: 1.5rem;
    padding: 0.5rem;
}

@media (max-width:720px) {
    .convenios-container{
        width: 84%;
        margin-left: 5%;
    }
    .convenio-title{
        padding-left: 3%;
    }
}