.my-title{
    margin-top: 0.6rem;
    margin-bottom: 2rem;
    z-index: 3000;
}
.my-card{
    width: 100%;
    overflow:visible;
    display: flex;
    align-items: center;
}
.card-tl-container{
    /* width: 1200px; */
    height: 250px;
    display: flex;
    align-items: top;
    justify-content: center;
    margin:1.5rem;
    margin-left: 3rem;
    margin-right: 3rem;
}
.db-tl{
    justify-content: space-around;
}
.tl-convenio-link{
    text-decoration: none;
    color: #464647;
    font-size: 1.8rem;
    font-family: 'Raleway';
    font-weight: 700;
    line-height: 2rem;
    width: 100%;
}
.tl-item-container{
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.separator-tl-line{
    /* margin-top: 1rem; */
    margin-bottom: 2rem;
    width:5.7rem;
    height: 0px;
    border:2px solid #5C5C5C;
    background-color: #5C5C5C;
}
.tl-ver-btn-container{
    height: 10%;
    margin-top: 3rem;
    bottom: 0px;
    
}
.timeline-main-wrapper{
    /* height: 6rem; */
}
.timeline-horizontal-container{
    /* padding-top: 1rem; */
    /* height: 5rem; */
    /* margin-top: 2rem; */
}
@media (max-width:1400px) {
    .card-tl-container{
        width: 900px;
       
    }
  }
@media (max-width:720px) {
    .card-tl-container{
        width: 100%;
        height: 100%;
    }
    .my-card{
        margin-bottom: 4rem;
    }
    .my-timeline{
        height: 100%;
        display: flex;
        align-items: flex-end;
        /* padding: 2rem; */
    }
    .timeline-horizontal-container{
        padding-top: 1rem;
        height: 6.5rem;
        /* margin-top: 2rem; */
        
        
        
    }
    /* .my-title{
        margin-top: 8rem;
    } */
  }