.post-container{
    width: 32%;
    height: 11.5rem;
}
.post-container:hover .carta{
    transform: rotateY(180deg);
    cursor:pointer
}
.carta {
    transform-style: preserve-3d;
    transition: all 0.5s linear;
    height:100%;
    width: 100%;
  }
.cara{
    display: flex;
    flex-direction: column;
    align-items: center;
    backface-visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    border: solid 1px #B3B3B3;
    border-radius: 1rem;
}
.cara.detras {
    transform: rotateY(180deg);
    position: absolute;
    width: 100%;
    background-color: #05488C;
    color:white;
    justify-content:center;
  }
  .cara-detras-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;
  }
.article-img{

    width: 100%;
    height: 7rem;
    object-fit:contain;
    /* bottom: 0px; */
}
.article-description{
    width:80%;
    font-family: 'Noto Sans', sans-serif ;
    font-weight: 400;
    text-align: center;
    font-size: 1.1rem;
}

.article-title{
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif ;
    font-weight: 700;
    position: absolute;
    bottom: 0rem;
}
.article-title-back{
    text-align: center;
    width: 60%;
    font-size:1.9rem;
    font-family: 'Raleway', sans-serif ;
    font-weight: 700;
    margin-bottom: 0.5rem;
}


.article-title:hover{
    color: black;
}

