.post-container{
    width: 32%;
    height: 15rem;
    
}
.post-container:hover .carta{
    transform: rotateY(180deg);
    cursor:pointer
}
.carta {
    transform-style: preserve-3d;
    transition: all 0.5s linear;
    height:100%;
    width: 100%;
  }
.cara{
    display: flex;
    flex-direction: column;
    align-items: center;
    backface-visibility: hidden;
    position: absolute;
    width: 100%;
}
.cara.detras {
    transform: rotateY(180deg);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #706F6F;
    color:white
  }
  
.article-img{

    width: 100%;
    height: 15rem;
    object-fit:cover;
    bottom: 0px;
}
.article-description{
    width:70%;
    font-family: 'Noto Sans', sans-serif ;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
}

.article-title{
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif ;
    font-weight: 700;
    position: absolute;
    bottom: 0rem;
    
}
.article-title:hover{
    color: black;
}

