.conv-cards-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.conv-card-container{
    width: 23%;
    height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.conv-card-container:hover .conv-carta{
    transform: rotateY(180deg);
    cursor:pointer
}
.conv-carta {
    transform-style: preserve-3d;
    transition: all 0.5s linear;
    height:100%;
    width: 100%;
  }
.conv-cara{
    display: flex;
    flex-direction: column;
    align-items: center;
    backface-visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    border: solid 1px #B3B3B3;
    border-radius: 16px;
}
.conv-cara.cc-detras {
    transform: rotateY(180deg);
    position: absolute;
    width: 100%;
    background-color: #5AA1E2;
    color:white;
    justify-content:center;
  }
  
.conv-img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    border-radius: 15px;
}


.conv-card-title{
    font-family: 'Raleway', sans-serif ;
    margin-top: 0.5rem;
    text-align: center;
}
.convcard-title-back{
    text-align: center;
    width: 60%;
    text-decoration: none;
    color:white;
    font-family: 'Raleway', sans-serif ;
    font-weight: 700;
    
}


.conv-card-title:hover{
    color: black;
}
.subsection-title{
    font-size: 1.5rem;
    font-family: 'Raleway';
    font-weight: 700;
    color:#464647
}
.subsection{
    color:#464647
}
.faunaconv-buttons{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.faunaconv-button{
    width: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5AA1E2;
    border-radius: 1rem;
    height: 4rem;
    font-size: 1.1rem;
    color: white;
    border: solid 1px transparent;
    font-family: 'Noto Sans';
    font-weight: 700;
    text-align: center;
}
.faunaconv-button:active{
    background-color: white;
    color: #5AA1E2;
    border: solid 1px #B3B3B3;
}
.fauna-download-btn{
    
    font-family: 'Noto Sans';
    font-size: 1.2rem;
    color:#464647;
    font-weight: 700;
    border-radius: 1rem;
    padding: 0.6rem;
    text-decoration: none;
}
.fauna-description{
    height: 0rem;
    visibility:hidden;
    transition: height 0.5s;
}
.fauna-title-active{
    background-color: #5AA1E2;
    color:white;
    width: 100%;
    border: solid 1px transparent;
    font-family: 'Raleway';
    font-weight: 700;
    display: flex;
    padding: 1.5rem;
    align-items: center;
    border-radius: 0.5rem;
}
.estudio-convenio-title{
    width: 100%;
    border: solid 1px #5C5C5C;
    color: #5C5C5C;
    font-family: 'Raleway';
    font-weight: 700;
    display: flex;
    padding: 1.5rem;

    align-items: center;
    /* margin-bottom: 1rem; */
    border-radius: 0.5rem;
}
@media (max-width:720px) {
    .fauna-title-active{
        padding: 0;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        width: 90%;
        padding-left:3% ;
        padding-right:3% ;
    }
    .estudio-convenio-title{
        padding: 0;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        width: 90%;
        padding-left:3% ;
        padding-right:3% ;
    }
}