.meteor-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.meteor-col{
    width: 48%;
}

.meteor-col img{
    width: 100%;
    height: 13rem;
    object-fit: contain;
}
.meteor-esc{
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 40%;
    object-fit: contain;
    border: solid 1px red
}
.meteorcard-container{
    width: 100%;
    /* height: 13rem; */
    position: relative;
    border-radius: 1rem;
    
}
.meteorcard-container:hover .meteor-overlay {
    height: 100%;
    cursor:pointer;
    border: solid 1px #5AA1E2;
    border-radius: 1rem;
  }
  .meteor-overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #5AA1E2;
    overflow: hidden;
    width: 100%;
    height: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    /* transition: .5s ease; */
    font-family: 'Raleway';
}
.meteor-overlay span{
    color: white;
    text-decoration: none;
}
.meteor-img{
    /* height:  25rem; */
    width:  100%;
    /* height: 100%; */
    object-fit: contain;
    border-radius: 1rem;
    /* border: solid 1px #F9E8E8; */
}
.pronosticos-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.meteor-item-cont{
    width: 48%;
}