.footer-container{
    padding:2rem;
    width: 100vw;
    height: 27vh;
    display: flex;
    justify-content: space-between;
    background-color:  #36A9E1;
    color:#FFFFFF;
    position: relative;
    bottom: 0px;
}

.footer-social-icon{
    width: 30px;
    height: 30px;
    object-fit: contain;

}
.footer-big-icons{
    
}

.middle-foot{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
}
.left-foot{
    width: 20vw;

}
.right-foot{
    width: 20vw;
}

.contact-icons{
    display: flex;
    width: 30%;
    justify-content: space-between;
}

.footer-shields{
    
    width: 100%;
    display: flex;
    height:11rem;
    align-items: center;
    justify-content: space-between;
}