.footer-container{
    padding-top:2rem;
    padding-bottom:1rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:  #706F6F;
    color:#FFFFFF;
    position: relative;
    bottom: 0px;
}

.footer-social-icon{
    width: 34px;
    height: 34px;
    object-fit: contain;

}
.footer-big-icons{
    height:7rem
}
.arg{
    /* height:8rem */
    
}
.middle-foot{
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 20%;
}

.right-foot{
    
    
    display: flex;
    
    
}
.left-foot{
    
    
    display: flex;
    
    
}

.contact-icons{
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    justify-content: space-between;
}



@media (max-width: 1500px) {
    .contact-icons {
        width: 50%;
    }
}

@media (max-width: 1150px) {
    .footer-big-icons{
        height:6rem
    }
    .arg{
        height:7rem
    }
    }
@media (max-width: 1000px) {
    .footer-big-icons{
        height:5rem
    }
    .arg{
        height:6rem
    }
    }