.footer-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1px solid;
    border-image: linear-gradient(to right, transparent 15%, #B3B3B3 15%, #B3B3B3 85%, transparent 85%, transparent 100%) 100% 1;
}
.first-footer{
    padding-top:2rem;
    padding-bottom:1rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    bottom: 0px;
}
.footer-info-container{
    width: 100%;
    font-family: 'Noto Sans', sans-serif;
    font-size: 0.75rem;
    line-height: 1rem;

}
.footer-social-icon{
    width: 2.5rem;
    object-fit: contain;
}
.footer-big-icons{
    height:7rem
}
.middle-foot{
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 20%;
}

.third-foot{
    display: flex;
}


.contact-icons{
    display: flex;
    padding-top: 1rem;
    justify-content: space-between;
    width: 50%;
}
.footer-social-icon:hover{
    cursor: pointer;
    
}
.second-footer{
    background-color: #05488C;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
}
.second-footer p{
    font-family: 'Noto Sans';
    color:white
}
.logo-footer{
    width: 10.25rem;
}

@media (max-width: 1500px) {
    .contact-icons {
        width: 50%;
    }
}

@media (max-width: 1150px) {
    .footer-big-icons{
        height:6rem
    }
    .arg{
        height:7rem
    }
    }
@media (max-width: 1000px) {
    .footer-big-icons{
        height:5rem
    }
    .arg{
        height:6rem
    }
    }