.informe-content{
    width: 65%;
    margin-left: 17.5%;
    position: relative;
}
.informe-content-img{
    width: 100%;
    object-fit: contain;
}
.final-slider-container{
    position: absolute;
    margin-bottom: 0px;
    margin-left: -17.5%;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #F5F5F5;
}
.final-slider-wrapper{
    
    margin-left: -27%;
    width: 154%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #F5F5F5;
}

.final-slider-height{
    height: 35rem;
}
.slider-content{
    width: 70%;
    margin-left: 15%;

}
.descarga-inf-buttons{
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.descarga-inf-button{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5AA1E2;
    border-radius: 1rem;
    height: 4rem;
    font-size: 1rem;
    border: solid 1px transparent;
    font-family: 'Noto Sans';
    font-weight: 700;
}
.descarga-inf-button a{
    text-decoration: none;
    color: white;
    
}
@media (max-width:720px) {
    .final-slider-container{
        width: 100%;
        margin-left: -5%;
    }
    .slider-content{
        margin-left: 0;
        width: 100%;
    }
    .img-slide{
        width: 80%;
    }
    .final-slider-height{
        height:  41rem
    }
    .normativas-title{
        margin-left: 5%;
    }
    .informe-content{
        width: 90%;
        margin-left: 5%;
    }
  }