.icons-container{
    width: 85%;
    display: flex;
    justify-content: space-between;
    margin-left: 7.5%;
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.icon-container{
    width: 18%;
    height: 4rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border:solid 1px #B3B3B3;
    border-radius: 1rem;

}
.icon-container:hover{
  background-color: rgb(220, 240, 246);
  cursor:pointer
}
.icon-text {
    color: #010101;
    font-size: 0.9rem;
    font-family: 'Raleway';
    font-weight: 700;
    width: 60%;
    text-align: center;
    letter-spacing: -0.015em;
    position: absolute;
    right: 0px;
  }
  .icon-img{
    width: 40%;
    height: 110%;
    object-fit: contain;
    position: absolute;
    left: 0px;
}
  .rio-icon{
    height: 100%;
    left:0.5rem
  }