.icons-container{
    width: 85%;
    display: flex;
    justify-content: space-between;
    margin-left: 7.5%;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.icon-container{
    width: 15%;
    height: 4.5rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border:solid 1px #B3B3B3;
    border-radius: 1rem;
    
}
.icon-container:hover{
  background-color: rgb(220, 240, 246);
  cursor:pointer
}
 /* .overlay{
    position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(0, 0, 0, 0.2);;

  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
 } */
 /* .icon-container:hover .overlay {
    height: 100%;
    cursor:pointer
  } */
.icon-text {
    color: #010101;
    font-size: 1rem;
    font-family: 'Raleway';
    font-weight: 700;
    position: relative;
    
    /* -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */
    text-align: center;
  }
.icon-img{
    width: 40%;
    height: 100%;
    object-fit: contain;
    
}