.card-container{
    width:20%
}
.card-title{
    position: relative;
    margin-left: 1rem;
    bottom: 4rem;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    color:white
}

.blog-img{
    width: 100%;
    border-radius: 0.5rem;
}