.navbar-container{
    margin-top: 1rem;
    position:absolute;
    top:0px;
    z-index: 10;
    display: flex;
    width: 100%;
    justify-content: space-around;
    
}


.comip-logo-container{
    width: 8vw;
}

.nav-options{
    /* padding-right: 3rem; */
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-button{
    height: 1rem;
    /* align-items: center; */
    background-color: transparent;
    border: transparent;
    font-family: 'Raleway', sans-serif ;
    font-size: 1rem;
    font-weight: 700;
    color:black;
    letter-spacing: 1px;
    /* text-shadow: 2px 2px 2px rgb(105, 104, 104); */
}
.homeNav{
    height: 1rem;
    /* align-items: center; */
    background-color: transparent;
    border: transparent;
    font-family: 'Raleway', sans-serif ;
    font-size: 1rem;
    font-weight: 700;
    color:white;
    letter-spacing: 1px;
    text-shadow: 2px 2px 2px rgb(105, 104, 104);
}
.homeNav:hover{
    color:rgb(58, 58, 58)
}
.search-icon-home{
    color:white
}
.search-icon{
    color:black
}

.separator-home{
    width: 2.5px;
    height: 1.5rem;
    background-color: white;
}
.separator{
    width: 2.5px;
    height: 1.5rem;
    background-color: black;
}


@media (max-width: 1150px) {
    .homeNav {
        font-size: 0.8rem;
    }
    .nav-button {
        font-size: 0.8rem;
    }
}
@media (max-width: 1000px) {
    .homeNav {
        font-size: 0.7rem;
    }
    .nav-button {
        font-size: 0.7rem;
    }
}