.navbar-container{
    position:absolute;
    top:0px;
    z-index: 10;
    display: flex;
    width: 100%;
    justify-content: space-around;
    background-color: rgb(0, 0, 0, 0.2);
    position: fixed;
}


.comip-logo-container{
    height:5rem;
    object-fit: contain;
}
.comip-logo-container:hover{
    cursor:pointer
}   

.nav-options{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-button{
    height: 1rem;
    background-color: transparent;
    border: transparent;
    font-family: 'Raleway', sans-serif ;
    font-size: 1rem;
    font-weight: 700;
    color:black;
    letter-spacing: 1px;
}
.homeNav{
    height: 1rem;
    background-color: transparent;
    border: transparent;
    font-family: 'Raleway', sans-serif ;
    font-size: 1rem;
    font-weight: 700;
    color:white;
    letter-spacing: 1px;
}
.homeNav:hover{
    color:rgb(58, 58, 58)
}
.search-icon-home{
    color:white
}
.search-icon{
    color:black
}

.separator-home{
    width: 2.5px;
    height: 1.5rem;
    background-color: white;
}
.separator{
    width: 2.5px;
    height: 1.5rem;
    background-color: black;
}
.dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    width:31rem;
    padding-top: 1.6rem;
    padding-bottom: 1rem;
}

.dropdown-content button {
    display: block;
}
.dropdown-content button:hover {
    color: black;
    display: block;
}
.dropdown:hover .dropdown-content {
    display: block;
}


.dropbtn:hover { 

    display: inline-block;
    border-bottom: 0.35rem solid white;
    
}

.dropbtn{
    border: transparent;
    border-bottom: 0.35rem solid transparent;
    padding-bottom: 1.5rem;
    height: 1rem;
    /* align-items: center; */
    background-color: transparent;
    font-family: 'Raleway', sans-serif ;
    font-size: 1rem;
    font-weight: 700;
    color:white;
    letter-spacing: 1px;
}
.dropbtn-active{
    display: inline-block;
    border: transparent;
    border-bottom: 0.35rem solid white;
    padding-bottom: 1.5rem;
    height: 1rem;
    /* align-items: center; */
    background-color: transparent;
    font-family: 'Raleway', sans-serif ;
    font-size: 1rem;
    font-weight: 700;
    color:white;
    letter-spacing: 1px;

}
.nav-bg-hover{
    border: transparent;
    font-family: 'Raleway', sans-serif ;
    background-color: #D9D9D9;
    font-size: 0.85rem;
    /* line-height: 1.5rem; */
    height: 3rem;
    font-weight: 400;
    width:15rem;
    display:flex;
    justify-content: center;
    flex-direction: column;
    margin-left: -1rem;
    padding-left: 1.2rem;
}
.nav-bg-hover-active{
    border: transparent;
    font-family: 'Raleway', sans-serif ;
    background-color: #D9D9D9;
    font-size: 0.85rem;
    /* line-height: 1.5rem; */
    height: 3rem;
    font-weight: 700;
    width:15rem;
    display:flex;
    justify-content: center;
    flex-direction: column;
    margin-left: -1rem;
    padding-left: 1.2rem;
}

.nav-bg-hover:last-child{
    padding-bottom: 1rem;
}
.dropbtnblack{
    color:black
}
.nav-bg-hover:hover{
    font-weight: 700;
    cursor:pointer
}

.white{
    transform:translate(0,1);
    background-color: hwb(0deg 85% 15%);
}

.white button{
    color: black;
}
.white .dropbtn:hover{
    border-bottom: 0.35rem solid #5C5C5C;
}
.white .dropbtn-active{
    border-bottom: 0.35rem solid #5C5C5C;

}
#navObserver{
    height:  10rem;
    z-index: 15;
    background: transparent;
    position: absolute;
}
.nav-section-container{
    display: flex;
    width: 100%;
}
.nav-subsection{
    border: transparent;
    font-family: 'Raleway', sans-serif ;
    background-color: #D9D9D9;
    font-size: 0.85rem;
    line-height: 1.5rem;
    font-weight: 400;
    width:14rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    height: 3rem;
    padding-left: 1rem;
}
.nav-subsection-active{
    border: transparent;
    font-family: 'Raleway', sans-serif ;
    background-color: #D9D9D9;
    font-size: 0.85rem;
    line-height: 1.5rem;
    font-weight: 700;
    width:14rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    height: 3rem;
    padding-left: 1rem;
}
.nav-section-container:hover div{
    display: block;
}
.nav-section-container{
    height: 3rem;

}
.nav-section-container div{
    height: 3rem;
    margin-top: 0.5rem;
    display: none;
}
.nav-section-container div a:hover{
    font-weight: 700;
    cursor: pointer;
}
@media (max-width: 1150px) {
    .homeNav {
        font-size: 0.8rem;
    }
    .nav-button {
        font-size: 0.8rem;
    }
}
@media (max-width: 1000px) {
    .homeNav {
        font-size: 0.7rem;
    }
    .nav-button {
        font-size: 0.7rem;
    }
}