.navbar-container{
    /* padding-top: 1rem;
    padding-bottom: 1rem; */
    position:absolute;
    top:0px;
    z-index: 10;
    display: flex;
    width: 100%;
    justify-content: space-around;
    background-color: rgb(0, 0, 0, 0.5);
    position: fixed;
}


.comip-logo-container{
    /* width: 8vw; */
    height:5rem;
    object-fit: contain;
}

.nav-options{
    /* padding-right: 3rem; */
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-button{
    height: 1rem;
    /* align-items: center; */
    background-color: transparent;
    border: transparent;
    font-family: 'Raleway', sans-serif ;
    font-size: 1rem;
    font-weight: 700;
    color:black;
    letter-spacing: 1px;
    /* text-shadow: 2px 2px 2px rgb(105, 104, 104); */
}
.homeNav{
    height: 1rem;
    /* align-items: center; */
    background-color: transparent;
    border: transparent;
    font-family: 'Raleway', sans-serif ;
    font-size: 1rem;
    font-weight: 700;
    color:white;
    letter-spacing: 1px;
    /* text-shadow: 2px 2px 2px rgb(105, 104, 104); */
}
.homeNav:hover{
    color:rgb(58, 58, 58)
}
.search-icon-home{
    color:white
}
.search-icon{
    color:black
}

.separator-home{
    width: 2.5px;
    height: 1.5rem;
    background-color: white;
}
.separator{
    width: 2.5px;
    height: 1.5rem;
    background-color: black;
}
.dropdown {
    position: relative;
    display: inline-block;
    /* width: 70%; */
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
  }

  .dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
}

.dropdown-content button {
    display: block;
}
.dropdown-content button:hover {color: black;
    display: block;
}
.dropdown:hover .dropdown-content {
    display: block;
    
}

/* .dropdown-content:hover {display: bloc<k;
    
} */

    .dropbtn:hover { color: black;}

    .dropbtn{
        height: 1rem;
        /* align-items: center; */
        background-color: transparent;
        border: transparent;
        font-family: 'Raleway', sans-serif ;
        font-size: 1rem;
        font-weight: 700;
        color:white;
        letter-spacing: 1px;
        /* text-shadow: 2px 2px 2px rgb(105, 104, 104); */
    }
.nav-bg-hover{
    border: transparent;
    font-family: 'Raleway', sans-serif ;
    background-color: rgba(255,255,255,0.5);
    font-size: 0.85rem;
    font-weight: 400;
    width:100%;
    display:flex;
    flex-direction: column;
    align-items:flex-start ;
}
.nav-bg-hover:hover{
    font-weight: 700;
}
.white{
    transform:translate(0,1);
    background-color: #FFFFFF;
}
    
    
.white button{
    color: black;
}
#navObserver{
    height:  4rem;
    /* width: 100%; */
    /* border:solid 10px white; */
    z-index: 15;
    background: transparent;
    position: absolute;
}
@media (max-width: 1150px) {
    .homeNav {
        font-size: 0.8rem;
    }
    .nav-button {
        font-size: 0.8rem;
    }
}
@media (max-width: 1000px) {
    .homeNav {
        font-size: 0.7rem;
    }
    .nav-button {
        font-size: 0.7rem;
    }
}