.content-container{
    
    width: 65%;
    margin-left: 17.5%;
    font-family: 'Noto Sans';
    
}
#section-container{
    overflow: scroll;
    overflow-x: hidden;
    /* overflow-y: hidden; */
    scroll-behavior: smooth;
    height:100vh;
    width: 100%;
}
