
.img-slide{
    width: 50%;
    object-fit: contain
}
.swiper-button-next{
    background-image:url('/public/images/icons/arrow_circle_right.svg') ;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    position:absolute;
    /* right: -30px */
}

.swiper-wrapper{
  align-items: center;
}
.slide-image-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-button-next::after {
    display: none;
  }
.swiper-button-prev{
    background-image:url('/public/images/icons/arrow_circle_left.svg') ;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
}
.swiper-button-prev::after {
    display: none;
  }

  .swiper-pagination-bullet{
    background: #BABABA !important;
  }